header img {
  width: 5%;
}

header img:hover {
  cursor: pointer;
}

header {
  text-align: center;
}

/*Responsive header*/

@media screen and (max-width: 767px) {
  header img {
    width: 15%;
  }
}
